<h1>Burgers!</h1>

<h2>Not Devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{this.burger_name}}
      {{> burgers/burger-block}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{this.burger_name}}
      <br />
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bg">Name:</label>
    <input type="text" id="burger">
  </div>
  <button id= "submit" type="submit">Add Burger</button>
</form>
